.container {
    height: 800px;
    border: 1px solid red;
    width: 1000px;
}

.myheader {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 20px 0;
    font-size: 1rem;

}
.cart-logo{
    margin-left: 45%;
}


.heading-top a {
    letter-spacing: 0.3em;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: rem;

}
.navigation{
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 20px;
}

.menu li a {

    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;

}

.menu li a:hover {
    background-color: rgb(155, 150, 150);
    color: white;
}

.man-img {
    
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;

}
.man-img>img{
    max-height: 100%;
}

.man-img1 {
    
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;

}
.man-img1>img{
    max-height: 100%;
}

.man-img2 {
    
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
    min-width: 400px;

}
.man-img2>img{
    max-height: 80%;
}


.cloth-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.calc {
    text-align: center;
    padding: 50px 20px 0 20px;
    color: grey;
}

.myheader2 {
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0;
    font-size: 1rem;
    text-align: center;
}

.heading-top2 a {
    color: black;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 500;

}

.adg-img {
    display: flex;
}

.myheader3 {
    display: flex;
    justify-content: space-around;
    font-weight: 100;
}
.heading-top3{
    display: none;
}

.down {
    box-sizing: border-box;
    width: 120px;
    padding: 6px;
    margin: 8px auto 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
}


.item-main{
    display: flex;
}

.item-main2{
    display: flex;
    
}
.item-container{
    width: 50%;
    height: 30em;
    max-height: 100%;   
}

.detail {
    width: 50%;
    max-width: 500px;
    transition: opacity 0.4s;
    color: black;
    font-family: serif;
}

.price {
    margin: 16px 0 40px;
    font-size: 16px;
    color: gray;
}
.drop-parrent{
    font-size: 16px;
    padding: 16px 24px 16px 70px;
}

.drop-box {
    width: 85%;
    background-color: transparent;
    padding: 14px;
    border: none;
    outline: none;
   
}

.drop-box2 {

    background-color: transparent;
    padding: 14px;
    border-left: none;
    border-right: none;
    border-top: none;
   
}

.desc{
    color: gray;
}

.input-box {
    width: -webkit-fill-available;
    padding: 14px;
    font-size: 15px;
    outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
}
.item-foot{
   margin-top: 5rem;
}
.myfooter{
    display: none;
}
.heading-top4{
    display: none;
}
.checkouthead{
    display: flex;
    font-size: 16px;
}

.my-section{

    padding-left: 10%;
    padding-right: 10%;
     padding-bottom: 10%;
   

}
.my-section1{
    padding-left: 5%;
    padding-right: 5%;
     padding-bottom: 10%;
     /* padding-top: 10%; */
}

@media only screen and (max-width: 800px) {
    .navigation {
        float: left;
        width: 20px;
        display: flex;

    }
    
    .man-img {
    
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        height: 40vh;
    
    }
    .man-img>img{
        max-height: 100%;
    }
    
    .man-img1 {
        
        display: flex;
        justify-content: center;
        width: 50%;
        overflow: hidden;
        height: 40vh;
    
    }
    .man-img1>img{
        max-height: 100%;
    }

    .menu{
        display: none;
    }

    .myheader {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 20px 0;
        font-size: 1rem;
    
    }
    .cart-logo{
        margin-left: 0px;
    }
    
    /*  */

    .item-main2{
        display: flex;
        flex-direction: column;
    }

    .man-img2 {
    
        display: flex;
        justify-content: center;
        width: 80%;
        overflow: hidden;
        min-width: 400px;
        /* height: 100vh; */
    
    }
    .man-img2>img{
        max-height: 80%;
    }

    .detail {
        width: 80%;
        max-width: 500px;
        transition: opacity 0.4s;
        color: black;
        font-family: serif;
        padding-left: 10%;
        
    }
    .item-foot{
        display: none;
    }
     .heading-top2{
        display: none;
    } 
  
    .heading-top4 {
        display: flex;
        justify-content: center;
        background-color: blue;
        color: white;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        
        
    }
    .heading-top4 > a{
        color: white;
        text-decoration: none;
    }

    .checkouthead{
        display: flex;
        flex-direction: column;
    }

  }